version: '2'
services:
  gatling-runner:
    image: 296553184312.dkr.ecr.us-east-1.amazonaws.com/gatling-images:latest
    command: -r gatling-result -s com.alirio.simulation.BasicSimulation
    environment:
      - GATLING_NR_USERS=1
      - GATLING_MAX_DURATION=1
      - GATLING_RAMPUP_TIME=10
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
    logging:
      driver: awslogs
      options:
        awslogs-group: /ecs/gatling-runner
        awslogs-region: us-east-1
        awslogs-stream-prefix: gatling-runner